In [3]:
import pandas as pd

In [4]:
zoo = pd.read_csv('zoo.csv', index_col = False, names = ['animal_name', 'hair', 'feathers', 'eggs', 'milk', 'airborne', 'aquatic', 'predator', 'toothed', 'backbone', 'breathes', 'venomous', 'fins', 'legs', 'tail', 'domestic', 'catsize', 'type'])

In [5]:
zoo

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
97,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
98,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
99,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
100,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

In [6]:
type_name = {1:'mammal', 2:'bird', 3:'reptile', 4:'fish', 5:'amphibian', 6:'bug', 7:'invertebrate'}

In [7]:
zoo['type_name'] = zoo.type.map(type_name)

In [8]:
zoo

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type,type_name
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1,mammal
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1,mammal
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4,fish
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1,mammal
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1,mammal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1,mammal
97,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6,bug
98,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1,mammal
99,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7,invertebrate
100,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2,bird

In [9]:
from sklearn.model_selection import train_test_split as tts

In [28]:
X_train, X_test, y_train, y_test = tts(zoo[['hair', 'feathers', 'eggs', 'milk', 'airborne', 'aquatic', 'predator', 'toothed', 'backbone', 'breathes', 'venomous', 'fins', 'legs', 'tail', 'domestic', 'catsize']], zoo['type_name'], test_size = 0.10, shuffle = False)

In [29]:
y_test

90          reptile
91          reptile
92             fish
93           mammal
94           mammal
95             bird
96           mammal
97              bug
98           mammal
99     invertebrate
100            bird
Name: type_name, dtype: object

In [30]:
from sklearn.tree import DecisionTreeClassifier as dtc

In [31]:
classifier = dtc()

In [32]:
classifier.fit(X_train, y_train)

DecisionTreeClassifier()

In [33]:
predicted = classifier.predict(X_test)

In [36]:
predicted

array(['bug', 'amphibian', 'fish', 'mammal', 'mammal', 'bird', 'mammal',
       'bug', 'mammal', 'invertebrate', 'bird'], dtype=object)

In [39]:
from sklearn.metrics import accuracy_score

In [41]:
accuracy_score(y_test, predicted)

0.8181818181818182

In [48]:
from sklearn import svm

In [49]:
clf = svm.SVC(kernel='linear', C=1).fit(X_train, y_train)

In [50]:
svm_predicted = clf.predict(X_test)

In [51]:
svm_predicted

array(['bird', 'amphibian', 'fish', 'mammal', 'mammal', 'bird', 'mammal',
       'bug', 'mammal', 'invertebrate', 'bird'], dtype=object)

In [52]:
accuracy_score(y_test, svm_predicted)

0.8181818181818182