In [299]:
import pandas as pd

In [300]:
zoo = pd.read_csv('zoo.csv', index_col = False, names = ['animal_name', 'hair', 'feathers', 'eggs', 'milk', 'airborne', 'aquatic', 'predator', 'toothed', 'backbone', 'breathes', 'venomous', 'fins', 'legs', 'tail', 'domestic', 'catsize', 'type'])

In [301]:
zoo

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
97,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
98,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
99,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
100,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

In [302]:
type_name = {1:'mammal', 2:'bird', 3:'reptile', 4:'fish', 5:'amphibian', 6:'bug', 7:'invertebrate'}

In [303]:
zoo['type_name'] = zoo.type.map(type_name)

In [304]:
zoo

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type,type_name
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1,mammal
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1,mammal
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4,fish
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1,mammal
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1,mammal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1,mammal
97,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6,bug
98,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1,mammal
99,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7,invertebrate
100,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2,bird

In [305]:
X, Y = zoo[['hair', 'feathers', 'eggs', 'milk', 'airborne', 'aquatic', 'predator', 'toothed', 'backbone', 'breathes', 'venomous', 'fins', 'legs', 'tail', 'domestic', 'catsize']], zoo['type_name']

In [306]:
from sklearn.model_selection import train_test_split as tts

In [307]:
X_train, X_test, y_train, y_test = tts(zoo[['hair', 'feathers', 'eggs', 'milk', 'airborne', 'aquatic', 'predator', 'toothed', 'backbone', 'breathes', 'venomous', 'fins', 'legs', 'tail', 'domestic', 'catsize']], zoo['type_name'], test_size = 0.10, shuffle = False)

In [308]:
#Decision Tree

In [309]:
from sklearn.tree import DecisionTreeClassifier as dtc

In [310]:
dt_classifier = dtc()

In [311]:
dt_classifier.fit(X_train, y_train)

DecisionTreeClassifier()

In [312]:
dt_predicted = dt_classifier.predict(X_test)

In [313]:
dt_predicted

array(['amphibian', 'amphibian', 'fish', 'mammal', 'mammal', 'bird',
       'mammal', 'bug', 'mammal', 'invertebrate', 'bird'], dtype=object)

In [314]:
#Support Vector Machine

In [315]:
from sklearn import svm

In [316]:
svm_classifier = svm.SVC(kernel='linear', C=1).fit(X_train, y_train)

In [317]:
svm_predicted = svm_classifier.predict(X_test)

In [318]:
svm_predicted

array(['bird', 'amphibian', 'fish', 'mammal', 'mammal', 'bird', 'mammal',
       'bug', 'mammal', 'invertebrate', 'bird'], dtype=object)

In [319]:
#Naive Bayes

In [320]:
from sklearn.naive_bayes import GaussianNB

In [321]:
gnb_classifier = GaussianNB()

In [322]:
gnb_classifier.fit(X_train, y_train)

GaussianNB()

In [323]:
gnb_predicted = gnb_classifier.predict(X_test)

In [324]:
gnb_predicted

array(['invertebrate', 'amphibian', 'fish', 'mammal', 'mammal', 'bird',
       'mammal', 'bug', 'mammal', 'invertebrate', 'bird'], dtype='<U12')

In [325]:
#KNN

In [326]:
from sklearn.neighbors import KNeighborsClassifier

In [327]:
knn_classifier = KNeighborsClassifier(n_neighbors=3)

In [328]:
knn_classifier.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [329]:
knn_predicted = knn_classifier.predict(X_test)

In [330]:
knn_predicted

array(['mammal', 'amphibian', 'fish', 'mammal', 'mammal', 'bird',
       'mammal', 'bug', 'mammal', 'invertebrate', 'bird'], dtype=object)

In [331]:
#Random Forest

In [332]:
from sklearn.ensemble import RandomForestClassifier

In [333]:
rf_classifier = RandomForestClassifier(max_depth=2, random_state=0)

In [334]:
rf_classifier.fit(X_train, y_train)

RandomForestClassifier(max_depth=2, random_state=0)

In [335]:
rf_predicted = rf_classifier.predict(X_test)

In [336]:
rf_predicted

array(['bird', 'bird', 'fish', 'mammal', 'mammal', 'bird', 'mammal',
       'bug', 'mammal', 'invertebrate', 'bird'], dtype=object)

In [337]:
#Accuracy with 0.1 test_size

In [338]:
from sklearn.metrics import accuracy_score

In [339]:
accuracy_score(y_test, dt_predicted)

0.8181818181818182

In [340]:
accuracy_score(y_test, svm_predicted)

0.8181818181818182

In [341]:
accuracy_score(y_test, gnb_predicted)

0.8181818181818182

In [342]:
accuracy_score(y_test, knn_predicted)

0.8181818181818182

In [343]:
accuracy_score(y_test, rf_predicted)

0.8181818181818182

In [344]:
#Cross Validations

In [345]:
# from sklearn import metrics
from sklearn.model_selection import cross_val_score, cross_validate, cross_val_predict

In [346]:
#DT Cross Validation Scores

In [347]:
dt_scores = cross_val_score(dt_classifier, X, Y, cv=4)

In [348]:
dt_scores

array([0.96153846, 0.92      , 0.92      , 0.92      ])

In [349]:
#SVM Cross Validation Scores

In [350]:
svm_scores = cross_val_score(svm_classifier, X, Y, cv=4)

In [351]:
svm_scores

array([0.96153846, 1.        , 0.88      , 0.96      ])

In [352]:
#NB Cross Validation Scores

In [353]:
gnb_scores = cross_val_score(gnb_classifier, X, Y, cv=4)

In [354]:
gnb_scores

array([0.96153846, 1.        , 0.88      , 1.        ])

In [355]:
#KNN Cross Validation Scores

In [356]:
knn_scores = cross_val_score(knn_classifier, X, Y, cv=4)

In [357]:
knn_scores

array([0.92307692, 0.88      , 0.92      , 0.96      ])

In [358]:
#RF Cross Validation Scores

In [359]:
rf_scores = cross_val_score(rf_classifier, X, Y, cv=10)

C:\Users\Kyle\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:666: UserWarning: The least populated class in y has only 4 members, which is less than n_splits=10.
  warnings.warn(("The least populated class in y has only %d"

In [360]:
rf_scores

array([0.81818182, 1.        , 0.9       , 0.9       , 0.9       ,
       0.8       , 0.8       , 0.9       , 0.8       , 0.9       ])

In [361]:
print('Accuracy: %0.2f' % rf_scores.mean())

Accuracy: 0.87

In [362]:
rf_scores = cross_val_score(rf_classifier, X, Y, cv=4)

In [363]:
rf_scores

array([0.80769231, 0.92      , 0.84      , 0.84      ])

In [364]:
print('Accuracy: %0.2f' % rf_scores.mean())

Accuracy: 0.85

In [365]:
rf_scores = cross_val_score(svm_classifier, X, Y, cv=4)
rf_scores

array([0.96153846, 1.        , 0.88      , 0.96      ])