In [73]:
import pandas as pd

In [74]:
data = pd.read_csv('haberman.csv', index_col = False, names = ['age', 'operation_year', 'positive_axillary_nodes_detected', 'survival_status'])

In [75]:
data

     age  operation_year  positive_axillary_nodes_detected  survival_status
0     30              64                                 1                1
1     30              62                                 3                1
2     30              65                                 0                1
3     31              59                                 2                1
4     31              65                                 4                1
..   ...             ...                               ...              ...
301   75              62                                 1                1
302   76              67                                 0                1
303   77              65                                 3                1
304   78              65                                 1                2
305   83              58                                 2                2

[306 rows x 4 columns]

In [76]:
#survival_status = {1:'survived', 2:'died'}
#data['survival_status'] = data.survival_status.map(survival_status)

In [77]:
data

     age  operation_year  positive_axillary_nodes_detected  survival_status
0     30              64                                 1                1
1     30              62                                 3                1
2     30              65                                 0                1
3     31              59                                 2                1
4     31              65                                 4                1
..   ...             ...                               ...              ...
301   75              62                                 1                1
302   76              67                                 0                1
303   77              65                                 3                1
304   78              65                                 1                2
305   83              58                                 2                2

[306 rows x 4 columns]

In [78]:
X, y = data[['age', 'operation_year', 'positive_axillary_nodes_detected']], data['survival_status']

In [79]:
scoring = {'accuracy': 'accuracy',
           'recall': 'recall',
           'precision': 'precision',
           'roc_auc': 'roc_auc'}

In [80]:
from sklearn.tree import DecisionTreeClassifier

In [81]:
dt_classifier = DecisionTreeClassifier()

In [82]:
from sklearn.model_selection import cross_val_score, cross_validate

In [83]:
scores = cross_validate(dt_classifier, X, y, cv=10, scoring=scoring)
scores

{'fit_time': array([0.0068543 , 0.00784254, 0.00481129, 0.00406981, 0.00299215,
        0.00396323, 0.00398946, 0.00399351, 0.00299191, 0.00299191]),
 'score_time': array([0.01196218, 0.00799799, 0.00800633, 0.00889254, 0.00901699,
        0.00925612, 0.0069809 , 0.00797367, 0.00797987, 0.00598407]),
 'test_accuracy': array([0.74193548, 0.35483871, 0.25806452, 0.5483871 , 0.64516129,
        0.74193548, 0.73333333, 0.66666667, 0.63333333, 0.6       ]),
 'test_recall': array([1.        , 0.47826087, 0.26086957, 0.60869565, 0.69565217,
        0.77272727, 0.90909091, 0.81818182, 0.81818182, 0.63636364]),
 'test_precision': array([0.74193548, 0.57894737, 0.5       , 0.73684211, 0.8       ,
        0.85      , 0.76923077, 0.75      , 0.72      , 0.77777778]),
 'test_roc_auc': array([0.5       , 0.23913043, 0.25543478, 0.47826087, 0.59782609,
        0.71969697, 0.57954545, 0.53409091, 0.49431818, 0.59659091])}