In [10]:
import pandas as pd

In [11]:
zoo = pd.read_csv('zoo.csv', index_col = False, names = ['animal_name', 'hair', 'feathers','eggs','milk','airborne','aquatic','predator','toothed','backbone','breathes','venomous','fins','legs','tail','domestic', 'catsize', 'type'])

In [12]:
type_name = {1:'mammal', 2:'bird', 3:'reptile', 4:'fish', 5:'amphibian', 6:'bug', 7:'invertebrae'}

In [13]:
zoo['type_name'] = zoo.type.map(type_name)

In [14]:
zoo

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type,type_name
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1,mammal
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1,mammal
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4,fish
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1,mammal
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1,mammal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1,mammal
97,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6,bug
98,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1,mammal
99,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7,invertebrae
100,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2,bird

In [15]:
from sklearn.model_selection import train_test_split as tts

In [22]:
X_train, X_test, y_train, y_test = tts(zoo[['hair', 'feathers','eggs','milk','airborne','aquatic','predator','toothed','backbone','breathes','venomous','fins','legs','tail','domestic', 'catsize']], zoo['type'], test_size = 0.05, shuffle = False)

In [23]:
y_test

95     2
96     1
97     6
98     1
99     7
100    2
Name: type, dtype: int64

In [24]:
from sklearn.tree import DecisionTreeClassifier as dtc

In [25]:
classifier = dtc()

In [26]:
classifier.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [27]:
classifier.predict(X_test)

array([2, 1, 6, 1, 7, 2])