In [183]:
import pandas as pd

In [184]:
zoo = pd.read_csv('zoo.csv', index_col = False, names = ['animal_name', 'hair', 'feathers', 'eggs', 'milk', 'airborne', 'aquatic', 'predator', 'toothed', 'backbone', 'breathes', 'venomous', 'fins', 'legs', 'tail', 'domestic', 'catsize', 'type'])

In [185]:
zoo

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
97,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
98,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
99,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
100,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

In [186]:
type_name = {1:'mammal', 2:'bird', 3:'reptile', 4:'fish', 5:'amphibian', 6:'bug', 7:'invertebrate'}

In [187]:
zoo['type_name'] = zoo.type.map(type_name)

In [188]:
zoo

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type,type_name
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1,mammal
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1,mammal
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4,fish
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1,mammal
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1,mammal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1,mammal
97,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6,bug
98,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1,mammal
99,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7,invertebrate
100,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2,bird

In [189]:
X, Y = zoo[['hair', 'feathers', 'eggs', 'milk', 'airborne', 'aquatic', 'predator', 'toothed', 'backbone', 'breathes', 'venomous', 'fins', 'legs', 'tail', 'domestic', 'catsize']], zoo['type_name']

In [190]:
from sklearn.model_selection import train_test_split as tts

In [191]:
X_train, X_test, y_train, y_test = tts(zoo[['hair', 'feathers', 'eggs', 'milk', 'airborne', 'aquatic', 'predator', 'toothed', 'backbone', 'breathes', 'venomous', 'fins', 'legs', 'tail', 'domestic', 'catsize']], zoo['type_name'], test_size = 0.10, shuffle = False)

In [192]:
#Decision Tree

In [193]:
from sklearn.tree import DecisionTreeClassifier as dtc

In [194]:
dt_classifier = dtc()

In [195]:
dt_classifier.fit(X_train, y_train)

DecisionTreeClassifier()

In [196]:
dt_predicted = dt_classifier.predict(X_test)

In [197]:
dt_predicted

array(['amphibian', 'amphibian', 'fish', 'mammal', 'mammal', 'bird',
       'mammal', 'bug', 'mammal', 'invertebrate', 'bird'], dtype=object)

In [198]:
#Support Vector Machine

In [199]:
from sklearn import svm

In [200]:
svm_classifier = svm.SVC(kernel='linear', C=1).fit(X_train, y_train)

In [201]:
svm_predicted = svm_classifier.predict(X_test)

In [202]:
svm_predicted

array(['bird', 'amphibian', 'fish', 'mammal', 'mammal', 'bird', 'mammal',
       'bug', 'mammal', 'invertebrate', 'bird'], dtype=object)

In [203]:
#Naive Bayes

In [204]:
from sklearn.naive_bayes import GaussianNB

In [205]:
gnb_classifier = GaussianNB()

In [206]:
gnb_classifier.fit(X_train, y_train)

GaussianNB()

In [207]:
gnb_predicted = gnb_classifier.predict(X_test)

In [208]:
gnb_predicted

array(['invertebrate', 'amphibian', 'fish', 'mammal', 'mammal', 'bird',
       'mammal', 'bug', 'mammal', 'invertebrate', 'bird'], dtype='<U12')

In [209]:
#KNN

In [210]:
from sklearn.neighbors import KNeighborsClassifier

In [211]:
knn_classifier = KNeighborsClassifier(n_neighbors=3)

In [212]:
knn_classifier.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [213]:
knn_predicted = knn_classifier.predict(X_test)

In [214]:
knn_predicted

array(['mammal', 'amphibian', 'fish', 'mammal', 'mammal', 'bird',
       'mammal', 'bug', 'mammal', 'invertebrate', 'bird'], dtype=object)

In [215]:
#Random Forest

In [216]:
from sklearn.ensemble import RandomForestClassifier

In [217]:
rf_classifier = RandomForestClassifier(max_depth=2, random_state=0)

In [218]:
rf_classifier.fit(X_train, y_train)

RandomForestClassifier(max_depth=2, random_state=0)

In [219]:
rf_predicted = rf_classifier.predict(X_test)

In [220]:
rf_predicted

array(['bird', 'bird', 'fish', 'mammal', 'mammal', 'bird', 'mammal',
       'bug', 'mammal', 'invertebrate', 'bird'], dtype=object)

In [221]:
#Accuracy with 0.1 test_size

In [222]:
from sklearn.metrics import accuracy_score

In [223]:
accuracy_score(y_test, dt_predicted)

0.8181818181818182

In [224]:
accuracy_score(y_test, svm_predicted)

0.8181818181818182

In [225]:
accuracy_score(y_test, gnb_predicted)

0.8181818181818182

In [226]:
accuracy_score(y_test, knn_predicted)

0.8181818181818182

In [227]:
accuracy_score(y_test, rf_predicted)

0.8181818181818182

In [228]:
#Cross Validations

In [285]:
from sklearn.model_selection import cross_val_score

In [286]:
#DT Cross Validation Scores

In [287]:
dt_scores = cross_val_score(dt_classifier, X, Y, cv=4)

In [288]:
dt_scores

array([0.96153846, 0.92      , 0.88      , 0.88      ])

In [289]:
#SVM Cross Validation Scores

In [290]:
svm_scores = cross_val_score(svm_classifier, X, Y, cv=4)

In [291]:
svm_scores

array([0.96153846, 1.        , 0.88      , 0.96      ])

In [292]:
#NB Cross Validation Scores

In [293]:
gnb_scores = cross_val_score(gnb_classifier, X, Y, cv=4)

In [294]:
gnb_scores

array([0.96153846, 1.        , 0.88      , 1.        ])

In [295]:
#KNN Cross Validation Scores

In [296]:
knn_scores = cross_val_score(knn_classifier, X, Y, cv=4)

In [297]:
knn_scores

array([0.92307692, 0.88      , 0.92      , 0.96      ])

In [298]:
#RF Cross Validation Scores

In [299]:
rf_scores = cross_val_score(rf_classifier, X, Y, cv=4)

In [300]:
rf_scores

array([0.80769231, 0.92      , 0.84      , 0.84      ])